@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

html.dark body {
  background-color: #020617;
  color: #f8fafc;
}
